# {{{appName}}}

{{{appDescription}}}  

## Info 

{{#infoUrl}}*More information:* {{{infoUrl}}} {{/infoUrl}}  
{{#infoEmail}}*Contact Info:* {{{infoName}}} <{{{infoEmail}}}> {{/infoEmail}}
{{#version}}*Version:* {{{.}}}{{/version}}  
{{#basePathWithoutHost}}*BasePath:* {{.}}{{/basePathWithoutHost}}  
{{{licenseInfo}}}  
{{{licenseUrl}}}  

{{termsOfService}}
  
{{#externalDocs}}
[{{description}}]({{url}})
{{/externalDocs}}
{{#isDeprecated}}
> **Deprecated
{{/isDeprecated}}

## Security

{{#hasAuthMethods}}
{{#authMethods}}
**{{name}}:** {{#isBasic}}{{#isBasicBasic}}HTTP Basic Authentication{{/isBasicBasic}}{{#isBasicBearer}}Bearer Authentication{{#bearerFormat}} ({{{.}}}){{/bearerFormat}}{{/isBasicBearer}}{{/isBasic}}{{#isOAuth}}OAuth {{#flow}}{{flow}}{{/flow}} AuthorizationUrl:{{authorizationUrl}} TokenUrl:{{tokenUrl}} RefreshUrl:{{refreshUrl}} {{#scopes}}{{#-last}}, Scopes: {{#scopes}}`{{{scope}}}`{{^-last}}, {{/-last}}{{/scopes}}{{/-last}}{{/scopes}}{{/isOAuth}}{{#isApiKey}}APIKey KeyParamName:{{keyParamName}} KeyInQuery:{{isKeyInQuery}} KeyInHeader:{{isKeyInHeader}} KeyInCookie:{{isKeyInCookie}} {{/isApiKey}}  
{{/authMethods}}
{{/hasAuthMethods}}
{{^hasAuthMethods}}*Not defined*{{/hasAuthMethods}}
## Endpoints

{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}  

### {{nickname}}

> {{#returnType}}{{returnType}} {{/returnType}}{{operationId}}({{#allParams}}{{{paramName}}}{{^-last}}, {{/-last}}{{/allParams}})

{{#summary}}*Summary:* {{.}}{{/summary}}   
*Description:* {{notes}}{{^notes}}*No Description*{{/notes}}   

**HttpMethod:** {{httpMethod}}  
**Protocol:** {{scheme}}  
**Path:** {{path}}  
{{#hasProduces}}**Produces:** {{#produces}}{{mediaType}}{{^-last}}, {{/-last}}{{/produces}} {{/hasProduces}}   
{{#hasConsumes}}**Consumes:** {{#consumes}}{{{mediaType}}}{{^-last}}, {{/-last}}{{/consumes}} {{/hasConsumes}}

{{#hasAuthMethods}}
{{#authMethods}}
**AuthenticationMethod:** *{{name}}* {{#isOAuth}}Scopes = [ {{#scopes}}"{{scope}}"{{^-last}}, {{/-last}}{{/scopes}} ] {{/isOAuth}}
{{^-last}},{{/-last}}
{{/authMethods}}
{{/hasAuthMethods}}

#### Parameters

{{#hasPathParams}}

##### Path Parameters

| Name | Description | Type | Format | Required | Nullable | Default | Constraints |
| --- | --- | --- | --- | --- | --- | --- | --- |
{{#pathParams}}{{>param}}{{/pathParams}}
{{/hasPathParams}}

{{#hasBodyParam}}

##### Body Parameter

| Name | Description | Type | Format | Required | Nullable | Default | Constraints |
| --- | --- | --- | --- | --- | --- | --- | --- |
{{#bodyParams}}{{>param}}{{/bodyParams}}
{{/hasBodyParam}}

{{#hasFormParams}}

##### Form Parameter

| Name | Description | Type | Format | Required | Nullable | Default | Constraints |
| --- | --- | --- | --- | --- | --- | --- | --- |
{{#formParams}}{{>param}}{{/formParams}}
{{/hasFormParams}}

{{#hasHeaderParams}}

##### Header Parameters

| Name | Description | Type | Format | Required | Nullable | Default | Constraints |
| --- | --- | --- | --- | --- | --- | --- | --- |
{{#headerParams}}{{>param}}{{/headerParams}}
{{/hasHeaderParams}}

{{#hasQueryParams}}

##### Query Parameters

| Name | Description | Type | Format | Required | Nullable | Default | Constraints |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
{{#queryParams}}{{>param}}{{/queryParams}}
{{/hasQueryParams}}

#### Responses

| Status Code | Message | Return Type | 
| --- | --- | --- |
{{#responses}}
| {{code}} | {{message}} | {{#isPrimitiveType}}{{dataType}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFile}}{{dataType}}{{/isFile}}{{^isFile}}{{#generateModelDocs}}[{{dataType}}](#{{baseType}}){{/generateModelDocs}}{{^generateModelDocs}}{{dataType}}{{/generateModelDocs}}{{/isFile}}{{/isPrimitiveType}} | 
{{/responses}}

#### Example

##### Request

```bash
{{>curl}}
```
{{#hasPathParams}}
where:  
{{#pathParams}}
{{=<% %>=}}
 - `{<%baseName%>}` -> `<%example%>`
<%={{ }}=%>
{{/pathParams}}
{{/hasPathParams}}

##### Response

{{#hasExamples}}
{{#examples}}
{{^-last}}  
```json
{{{example}}}
```
{{/-last}}
{{/examples}}
{{/hasExamples}}

{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}

## Model

{{#models}}
{{#model}}

### {{classname}}

{{{description}}}
{{#isEnum}}| Name | Value | Description |
| --- | --- | --- |
{{#allowableValues}} {{#enumVars}} | {{{name}}} | {{{value}}} | {{{enumDescription}}} |
{{/enumVars}}
{{/allowableValues}} {{/isEnum}}
{{^isEnum}}| Field Name | Description | Type | Format | Required | Nullable | Default | Constraints |
| --- | --- | --- | --- | --- | --- | --- | --- |
{{#vars}}{{>param}}{{/vars}} {{/isEnum}}
{{/model}}
{{/models}}
