# {{{appName}}}

{{{appDescription}}}  

## Info 

{{#infoUrl}}*More information:* {{{infoUrl}}} {{/infoUrl}}  
{{#infoEmail}}*Contact Info:* {{{infoEmail}}} {{/infoEmail}}
{{#version}}*Version:* {{{.}}}{{/version}}  
{{#basePathWithoutHost}}*BasePath:* {{.}}{{/basePathWithoutHost}}  
{{{licenseInfo}}}  
{{{licenseUrl}}}  

## Security

{{#hasAuthMethods}}
{{#authMethods}}
{{name}} {{#isBasic}}HTTP Basic Authentication{{/isBasic}}{{#isOAuth}}OAuth AuthorizationUrl:{{authorizationUrl}}TokenUrl:{{tokenUrl}}{{/isOAuth}}{{#isApiKey}}APIKey KeyParamName:{{keyParamName}} KeyInQuery:{{isKeyInQuery}} KeyInHeader:{{isKeyInHeader}}{{/isApiKey}}  
{{^-last}}, {{/-last}}{{/authMethods}}
{{/hasAuthMethods}}
{{^hasAuthMethods}}*Not defined*{{/hasAuthMethods}}
## Endpoints

{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}  

### {{nickname}}

> {{#returnType}}{{returnType}} {{/returnType}}{{operationId}}({{#allParams}}{{{paramName}}}{{^-last}}, {{/-last}}{{/allParams}})

{{#summary}}*Summary:* {{.}}{{/summary}}   
*Description:* {{notes}}{{^notes}}*No Description*{{/notes}}   

**HttpMethod:** {{httpMethod}}  
**Protocol:** {{scheme}}  
**Path:** {{path}}  
{{#hasProduces}}**Produces:** {{#produces}}{{mediaType}}{{^-last}}, {{/-last}}{{/produces}} {{/hasProduces}}   
{{#hasConsumes}}**Consumes:** {{#consumes}}{{{mediaType}}}{{^-last}}, {{/-last}}{{/consumes}} {{/hasConsumes}}


#### Parameters

{{#hasPathParams}}

##### Path Parameters

| Name | Description | Type | Format | Required | Default | Constraints | Enum |
| --- | --- | --- | --- | --- | --- | --- | --- |
{{#pathParams}}{{>param}}{{/pathParams}}
{{/hasPathParams}}

{{#hasBodyParam}}

##### Body Parameter

| Name | Description | Type | Format | Required | Default | Constraints | Enum |
| --- | --- | --- | --- | --- | --- | --- | --- |
{{#bodyParams}}{{>param}}{{/bodyParams}}
{{/hasBodyParam}}

{{#hasFormParams}}

##### Form Parameter

| Name | Description | Type | Format | Required | Default | Constraints | Enum |
| --- | --- | --- | --- | --- | --- | --- | --- |
{{#formParams}}{{>param}}{{/formParams}}
{{/hasFormParams}}

{{#hasHeaderParams}}

##### Header Parameters

| Name | Description | Type | Format | Required | Default | Constraints | Enum |
| --- | --- | --- | --- | --- | --- | --- | --- |
{{#headerParams}}{{>param}}{{/headerParams}}
{{/hasHeaderParams}}

{{#hasQueryParams}}

##### Query Parameters

| Name | Description | Type | Format | Required | Default | Constraints | Enum |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
{{#queryParams}}{{>param}}{{/queryParams}}
{{/hasQueryParams}}

#### Responses

| Status Code | Message | Return Type | Example |
| --- | --- | --- | --- |
{{#responses}}
| {{code}} | {{message}} | {{#isPrimitiveType}}{{dataType}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFile}}{{dataType}}{{/isFile}}{{^isFile}}{{#generateModelDocs}}[{{dataType}}](#{{baseType}}){{/generateModelDocs}}{{^generateModelDocs}}{{dataType}}{{/generateModelDocs}}{{/isFile}}{{/isPrimitiveType}} | {{#examples}} {{{contentType}}} {{example}} {{/examples}} |
{{/responses}}

#### Example

##### Request

```bash
{{>curl}}
```
{{#hasPathParams}}
where:  
{{#pathParams}}
{{=<% %>=}}
 - `{<%baseName%>}` -> `<%example%>`
<%={{ }}=%>
{{/pathParams}}
{{/hasPathParams}}

##### Response

{{#hasExamples}}
{{#examples}}  
```json
{{{example}}}
```
{{/examples}}
{{/hasExamples}}

{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}

## Model

{{#models}}
{{#model}}

### {{classname}}

{{{description}}}
{{#isEnum}}| Name | Value | Description |
| --- | --- | --- |
{{#allowableValues}} {{#enumVars}} | {{{name}}} | {{{value}}} | {{{enumDescription}}} |
{{/enumVars}}
{{/allowableValues}} {{/isEnum}}
{{^isEnum}}| Field Name | Description | Type | Format | Required | Default | Constraints | Enum |
| --- | --- | --- | --- | --- | --- | --- | --- |
{{#vars}}{{>param}}{{/vars}} {{/isEnum}}
{{/model}}
{{/models}}
